:root {
  --clr-primary-400: hsl(235, 75%, 60%); /* CTAs Focused Active states Links */
  --clr-primary-500: hsl(235, 50%, 50%); /* CTAs btn */
  --clr-slate-500: hsl(237, 12%, 30%); /* Body text */
  --clr-slate-700: hsl(237, 18%, 22%); /* Overlays Shadows Headings */
  --clr-green: hsl(166, 63%, 50%); /* Valid fields Success messages */
  --clr-lightslate: hsl(235, 5%, 58%); /* Helper text Deemphasized text */
  --clr-cornflower: hsl(
    234,
    78%,
    95%
  ); /* Accent color Hairlines Subtle backgrounds */
  --clr-cloud: hsl(
    240,
    69%,
    97%
  ); /* Light mode backgrounds Light mode Dialogs/alerts */
  --clr-modal: hsla(237, 18%, 22%, 0.4); /* Modal overlay */
  --clr-grey: hsl(237, 18%, 22%); /* Hero background */
  --clr-white: hsl(0, 0%, 100%); /* Header,  team card background */
  --clr-dairy: hsl(0, 0%, 99%); /* modal background */
}

* {
  margin: 0; /* Remove default margin  */
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--clr-slate-500);
  background-color: var(--clr-white);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Typography */
h1,
h2,
h3 {
  color: var(--clr-slate-700);
  font-weight: 700;
}

h1,
h2,
h3 {
  text-align: center;
}

a,
p,
.main-heading,
.second-heading,
.third-heading,
.medium-text {
  letter-spacing: 0.02em; /* 0.02em */
}
.medium-text,
.third-heading,
.header-menu-link,
.btn {
  font-weight: 500;
}

.main-heading {
  font-size: 36px;
  line-height: 1.07; /* 107.143% */
}
.second-heading {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
.third-heading {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
}
.logo-typography {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--clr-primary-400);
}
.small-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.link {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-decoration: underline;
}

.icon-svg {
  fill: var(--clr-cloud);
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* padding section top bottom 96px */
.second-section,
.team,
.portfolio {
  padding: 96px 0;
}

@media (min-width: 1158px) {
  .second-section,
  .team,
  .portfolio {
    padding: 120px 0;
  }
}
/* Header section */
.mob-menu {
  display: none;
}
.header {
  border-bottom: 1px solid var(--clr-cornflower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 76px;
}
.header-logo span {
  color: var(--clr-slate-700);
}

.header-menu,
.header-address-list {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  display: block;
  padding: 24px 0;
  color: var(--clr-slate-700);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
  color: var(--clr-primary-500);
}
@media (min-width: 768px) {
  .header-menu-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--clr-primary-500);
    border-radius: 2px;
  }
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-address-link:hover,
.header-address-link:focus {
  color: var(--clr-primary-500);
}
.header-address-link:hover,
.header-address-link:focus {
  color: var(--clr-primary-400);
}

.header-address-link {
  font-style: normal;
  color: var(--clr-slate-500);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  padding: 72px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero_image_mob@1x.jpg");
  background-position: center;
  background-size: cover;
  background-color: var(--clr-slate-700);
}

/* Hero section @media*/
@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_image_mob@2x.jpg");
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_image_tab@1x.jpg");
  }
}
@media (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_image_tab@2x.jpg");
  }
}
@media (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_image_desk@1x.jpg");
  }
}
@media (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_image_desk@2x.jpg");
  }
}

.hero-title {
  max-width: 168px;
  margin: 0 auto 72px auto;
  color: var(--clr-white);
}
@media (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
  }
  .icon-hamburger {
    display: none; /* Hidden by default */
  }
}
@media (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
  .hero-title {
    margin-bottom: 48px;
  }
}

.btn {
  padding: 16px 32px;
  letter-spacing: 0.64px;
  line-height: 1.5;
  color: var(--clr-white);
  background-color: var(--clr-primary-400);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
}
.form-btn:hover,
.form-btn :focus,
.hero-btn:hover,
.hero-btn:focus,
.btn:hover,
.btn:focus {
  background-color: var(--clr-primary-500);
}

.second-section-list,
.team-list,
.box-social-icon,
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.second-section-list-item,
.portfolio-list-item {
  width: 288px;
}
.svg-box {
  display: none;
}
@media (min-width: 768px) {
  .second-section-list-item,
  .portfolio-list-item,
  .team-list-item,
  .col-2 {
    width: calc((100% - 24px) / 2);
  }
}
@media (min-width: 1158px) {
  .second-section-list {
    align-items: baseline;
  }
  .second-section-list-item,
  .team-list-item,
  .col-4 {
    width: calc((100% - 3 * 24px) / 4);
  }
  .portfolio-list-item {
    width: calc((100% - 2 * 24px) / 3);
  }
  .svg-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--clr-lightslate);
    background-color: var(--clr-cloud);
  }
  .footer .container {
    gap: 0;
  }
}
@media (max-width: 1157px) {
  .second-section-list-title {
    font-size: 36px; /* Header 2 */
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    text-transform: capitalize;
  }
  .second-section-list-text {
    font-weight: 500; /* Body Medium */
    line-height: 1.5; /* 150% */
  }
}

/*  team section tag  */
.team {
  background-color: var(--clr-cloud);
}
.team-list-item {
  text-align: center;
  background-color: var(--clr-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item-box {
  padding: 32px 0;
}
.team-list-text {
  margin-bottom: 8px;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-400);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link:hover,
.social-icon-link:focus {
  animation: shake 1s;
  background-color: var(--clr-primary-500);
}
/*  portfolio section */

.portfolio h3 {
  text-align: left;
}
.portfolio-list {
  row-gap: 48px;
  background-color: var(--clr-white);
}
.portfolio-list-item {
  background: var(--clr-white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay {
  opacity: 1;
  transform: translatey(0);
}

.container-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: var(--clr-cloud);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--clr-primary-400);
}
.portfolio-list-item-box {
  padding: 32px 16px;
  border: 1px solid var(--clr-cornflower);
  border-top: none;
}

.footer {
  padding: 96px 0;
  background-color: var(--clr-slate-700);
}
@media (min-width: 768px) {
  h3 {
    text-align: left;
  }
  .team h3 {
    text-align: center;
  }
  .main-heading {
    font-size: 56px;
  }
  .footer .container {
    align-items: baseline;
    row-gap: 72px;
  }
}

@media (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer-col {
    margin-right: 120px;
  }
  .social-media {
    margin-right: 80px;
  }
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: var(--clr-cloud);
}
.footer-text {
  max-width: 264px;
  color: var(--clr-cloud);
}

.social-title {
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--clr-white);
}
.social-list {
  display: flex;
  gap: 16px;
}

.hover-green:hover,
.hover-green:focus {
  background-color: var(--clr-green);
}

.form-title {
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--clr-white);
}
.form-sub {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.form-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--clr-white);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--clr-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.form-input::placeholder {
  color: var(--clr-white);
}
.form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: var(--clr-primary-400);
  color: var(--clr-white);
  border: none;
  cursor: pointer;
}
.icon-btn {
  margin-left: 16px;
}

/* The Modal (background) */
.modal {
  /*   display: none;  */ /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-close {
  opacity: 0;
  visibility: hidden;
}

/* Modal Content/Box */
.modal-content {
  position: absolute;
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--clr-dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid #888;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#to-top {
  display: none;
}
/* The Close Button */
.btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--clr-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close .icon-svg {
  fill: var(--clr-slate-700);
}
.btn-close:hover,
.btn-close:focus {
  background-color: var(--clr-primary-500);
  border: none;
  cursor: pointer;
}
.btn-close .icon-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover .icon-svg,
.btn-close:focus .icon-svg {
  fill: var(--clr-white);
}
.header .btn-close {
  position: fixed;
  top: 90vh;
  right: 24px;
}
.modal-title {
  margin-bottom: 16px;
  text-align: center;
  color: var(--clr-slate-700);
}
.modal-form-label {
  color: var(--clr-lightslate);
  display: block;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
}
/* icon svg input */
.input-with-icon {
  position: relative;
}
.modal-form-input {
  padding: 3px 16px 3px 38px;
  height: 40px;
  /*   fill: var(--clr-primary-400); */
}
.label-with-input {
  margin-bottom: 8px;
}
.modal-form-input,
.modal-form-textarea {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:hover,
.modal-form-input:focus,
.modal-form-textarea:hover,
.modal-form-textarea:focus {
  border-color: var(--clr-primary-400);
}

.icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .icon-input,
.modal-form-input:hover + .icon-input {
  fill: var(--clr-primary-400);
}

.input-textarea {
  margin-bottom: 16px;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-textarea {
  padding: 8px 16px;
  /* margin-bottom: 16px; */
  height: 120px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
}

/* The container */
.form-checkbox {
  margin-bottom: 24px;
  letter-spacing: 0.04em;
  color: var(--clr-lightslate);
}
/* Create a custom checkbox */
.form-label-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  letter-spacing: 0.04em;
  color: var(--clr-lightslate);
  fill: transparent;
  border: 1px solid hsl(237, 18%, 22%, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked ~ .form-label-checkbox span {
  background-color: var(--clr-primary-500);
  fill: var(--clr-cloud);
  border: none;
}
.checkbox-link {
  color: var(--clr-primary-400);
}
.btn-send {
  margin: 0 auto;
  min-width: 169px;
  display: block;
  height: 56px;
}

@media (max-width: 767px) {
  .modal-content {
    padding: 72px 16px 24px 16px;
    width: 288px;
  }
  .team-list-item {
    min-width: 264px;
  }
  .form-sub {
    gap: 16px;
    justify-content: center;
  }
  .form-title,
  .footer-logo,
  .social-title {
    text-align: center;
  }
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header .header-menu,
  .header .header-address {
    display: none;
  }
  .icon-hamburger {
    display: block;
    padding: 16px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mob-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 40px;
    width: 320px;
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: hidden;
    background-color: var(--clr-white);
  }
  .mob-menu .header-menu-link {
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .mob-menu.container {
    display: flex;
    justify-content: space-between;
  }
  .mobile-address-list {
    margin-bottom: 48px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.4px;
  }
  .header-address-list-li {
    margin-bottom: 24px;
  }
  .header-address-list-li:first-child a {
    color: #4d5ae5;
  }
  .mob-menu .box-social-icon {
    max-width: 320px;
    justify-content: space-between;
  }
  .container {
    max-width: 320px;
  }
  .header .container {
    max-width: 767px;
  }
  .second-section-list,
  .team-list,
  .footer .container {
    gap: 72px;
  }
  .footer .social-media {
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1157px) {
  .team .container,
  .footer .container {
    margin: 0 auto;
    width: 584px;
  }
  .header-address-list {
    font-size: 12px;
    line-height: 1.167;
    flex-direction: column;
    gap: 12px;
  }
  .portfolio-list,
  .second-section-list {
    row-gap: 72px;
  }
  .team-list {
    row-gap: 64px;
  }
  .header-logo {
    margin-right: 120px;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  
  10% {
    transform: rotate(-10deg);
  }
  
  20% {
    transform: rotate(10deg);
  }
  
  30% {
    transform: rotate(-10deg);
  }
  
  40% {
    transform: rotate(10deg);
  }
  
  50% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
  
}